fastapi==0.135.2
uvicorn[standard]==0.42.0
python-dotenv==1.2.2
httpx==0.28.1
google-genai==1.68.0
pydantic==2.12.5

# Database
sqlalchemy==2.0.48

# Auth
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.0